{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HATOPIA</title>
{% endblock meta %}

{% block content %}
<div class="bg-slate-100 min-h-screen">
  {% include 'navbar.html' %}
  
  <div class="px-3 mb-4 mt-4">
    <!-- Parent div with flex and justify-between to align items in a row -->
    <div class="flex justify-between items-center">
      <!-- Last Login Section -->
      <div class="flex rounded-md items-center bg-slate-600 py-2 px-4 w-fit">
        <h1 class="text-white text-center">Last Login: {{ last_login|default_if_none:"Unknown" }}</h1>
      </div>

      <!-- Tambahkan Product Button -->
      <a href="{% url 'main:create_mood_entry' %}" class="bg-slate-600 hover:bg-slate-500 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Tambahkan Product
      </a>

    
    </div>
  </div>
    
  {% if not mood_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
      <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-600 mt-4">Belum ada product yang ditambahkan</p>
    </div>
  {% else %}
    <!-- Grid layout for cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full px-3">
      {% for mood_entry in mood_entries %}
        {% include 'card_mood.html' with mood_entry=mood_entry %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}
